body{
    background-color: rgb(32, 32, 32);
    margin: 0;
    line-height: 30px;
    font-size: small;   font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}
header{
    background-color: rgb(80, 80, 80);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
header h1{
    color: rgb(71, 3, 180);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: bold;
    font-size: 40px;
}
header img{
    border-radius: 300px;
    width: 200px;
    border: 6px solid rgb(255, 255, 255);
}
h1,h2,p{
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    
}
main img{
    max-width: 100%;
}
h2{
    font-size: 35px;
}
a{
    color: aliceblue;
}
a:hover{
    color: blueviolet;
}
footer{
    background-color: rgb(32, 32, 32);
    text-align: center;
}